.App {
  te: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input {
background-color: transparent;
border-style: solid;
border-width: 0px 0px 1px 0px;
border-color: grey;
margin-top: 2%;
}
.center {
   top: 50%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -5em; /*set to a negative number 1/2 of your width*/
    position:fixed;
}

div {
    text-align: center;
}
.modal-alert-overlay {
  position:fixed;
  left:0;
  top:0;
  background:#666666;
  opacity:0.5;
  width:100%;
  height:100%;
  z-index:902;
}
.modal-60 {
  position:fixed;
  left:50%;
  top:50%;
  background:#fff;
  width:60%;
  z-index:901;
  border-radius:10px;
  transform: translate(-50%, -50%);
}
.modal-60-attributes {
  position:fixed;
  left:22%;
  top:22%;
  background:#fff;
  width:60%;
  z-index:901;
  border-radius:10px;
  /*transform: translate(-50%, -50%);*/
}
.modal-head {
  padding:10px;
  position:relative;
  background:#fff;
  color:#454545;
  box-sizing:border-box;
  border-radius:5px 5px 0 0;
  font-family:cursive;
  font-size:135%;
  border-bottom:2px solid #ddd; 
}
.modal-body {
  padding:15px;
  box-sizing:border-box;  
  max-height:calc(100vh - 180px);
  overflow:auto;
}
.modal-button {
  padding:6px;
  background: #f0eded;
  box-sizing:border-box;  
  text-align:right;
  border-top: 2px solid #ddd;
  border-radius: 0 0 5px 5px;
}
.repeater {
    width: 100%;
    float: left;
}
.modal-button a {
  margin-left:15px; 
    background: #09364A;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}
.modal-button a.short {
    padding: 5px 20px;
}
.modal-button a.white {
    color:#4093D1;
  background-color:transparent;
}
.modal-head a {
  width:25px;
  height:25px;
  border-radius:15px;
  text-align:center;
  display:inline-block;
  position:absolute;
  top:10px;
  right:10px;
  color:#fff;
  background-image: url("/sf-close.png");
}
.validationColor{
        color:red;
    }
    .theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.info-icon {
    background-image: url("/info-icon.png");
    width:13px;
    height:14px;
    background-size: 14px;
  display:inline-block;

}
.react-tooltip-header {
  background-color:#F8F8F8!important;
  max-width:350px;
  border:1px solid #ccc;
  color:#454545 !important;
}
.border-bottom-light-gray {
  border-bottom: 1px solid #e2e2e2
}
.padding5 {padding:5px 0;}